@using Library.Enums
@model TicketListModel

@{
    ViewData["Title"] = "Liste des billets";
    var i = 1;
}

<h1>Liste des billets</h1>

<div style="display: flex">
    <p>
        @Html.ActionLink("Créer un billet", "Create", new { id = Model.Event.Id }, new { @class = "btn btn-primary" })
    </p>

    <!-- Barre de recherche -->
    <div class="form-inline mb-3 ml-2">
        <input type="text" id="searchInput" class="form-control mr-2" placeholder="Rechercher dans le tableau..." />
    </div>
</div>

@if (Model.IsError())
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Model.Error
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<table class="table table-striped" id="ticketTable">
    <thead>
    <tr>
        <th>
            N°
        </th>
        <th>
            Prénom
        </th>
        <th>
            Nom
        </th>
        <th>
            Email
        </th>
        <th>
            Genre
        </th>
        <th>
            A payé
        </th>
        <th>
            Moyen de paiement
        </th>
        <th>
            Mails envoyés
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Tickets)
    {
        <tr>
            <td>@(i++)</td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @(((Gender)item.Gender).ToString())
            </td>
            <td>
                <span class="badge @(item.HasPaid ? "badge-success" : "badge-danger")">
                    @(item.HasPaid ? "Oui" : "Non")
                </span>
            </td>
            <td>
                @(((PaymentMethod)item.PaymentMethod).ToString())
            </td>
            <td>
                @(Model.TicketMailCounts.TryGetValue(item.Id, out var mailCount) ? mailCount : 0)
            </td>
            <td>
                @if (!item.HasPaid)
                {
                    <form asp-action="MarkAsPaid" method="post" style="display: inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-warning mr-2">A payé</button>
                    </form>
                }
                
                @Html.ActionLink("Afficher", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }
    </tbody>
</table>

<script>
    document.getElementById("searchInput").addEventListener("keyup", function () {
        const searchValue = this.value.toLowerCase();
        const rows = document.querySelectorAll("#ticketTable tbody tr");

        rows.forEach(function (row) {
            var rowText = row.textContent.toLowerCase();

            if (rowText.includes(searchValue)) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    });
</script>
