@model EventDetailsModel

@{
    ViewData["Title"] = "Details";
    var i = 1;
}

<style type="text/css">
    .tableFixHead {/*
        overflow-y: auto;
        height: 350px; */
        position: relative;
        height: 350px;
        overflow: auto;
        display: block;
    }
</style>

<h1>Details of @Model.Event.Name</h1>

<div>
    <h4>Manage your event.</h4>
    <hr/>
</div>

<div class="container">

    <div class="row">

        <div class="col-md-6">

            <img src="@Model.Event.HeaderUrl" class="img-fluid rounded" style="height: 50%; display: block; margin-left: auto; margin-right: auto;"alt=""/>

        </div>

        <div class="col-md-6">
            <div class="tableFixHead">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                    <tr>
                        <th>
                            N°
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>


                    @foreach (var item in Model.EventUsers)
                    {
                        <tr>
                            <td>
                                @(i++)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>

                            <td>
                                @Html.ActionLink("Delete", "DeleteEventUser", new {id = item.EventUser.Id}, new {@class = "btn btn-danger", @onclick = "onclick=\"return confirm('Do you really want to delete this user from the project?')\""})
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            
            <form asp-action="AddEventUser" >
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="User Email" aria-label="User Email" aria-describedby="button-addon2" name="Email" required>
                    <input type="number" hidden="hidden" name="EventId" value="@Model.Event.Id"/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add</button>
                    </div>
                </div>
            </form>

        </div>

    </div>

</div>

<div>
    <a class="btn btn-info btn-lg" asp-action="Index">Back to List</a>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Event.Id}, new {@class = "btn btn-primary btn-lg"})
    @Html.ActionLink("Delete", "Delete", new {id = Model.Event.Id}, new {@class = "btn btn-danger btn-lg"})
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}