@using System.Globalization
@using Library.Enums
@using Library.Utils
@model EventStatisticsModel

@{
    ViewData["Title"] = "Statistics";
}

<h1>Statistics</h1>

<div>
    <h4>Statistics of @Model.Event.Name.</h4>
    <hr/>
</div>


<div class="container">

    <div class="row">

        <div class="col-md-6">

            <!--style="min-width: 310px; height: 400px; max-width: 600px;-->

            <div id="ticketsGender" style="margin: 0 auto"></div>


        </div>

        <div class="col-md-6">


            <div id="ticketsPayed" style="margin: 0 auto"></div>


        </div>
    </div>

    <br/>

    <div class="row">

        <div class="col-md-6">

            <!--style="min-width: 310px; height: 400px; max-width: 600px;-->

            <div id="ticketsPaymentMethod" style="margin: 0 auto"></div>


        </div>

        <div class="col-md-6">


            <div id="ticketsCreator" style="margin: 0 auto"></div>


        </div>
    </div>


    <br/>

    <div class="row">

        <div class="col-md-12">

            <!--style="min-width: 310px; height: 400px; max-width: 600px;-->

            <h4>Valeur totale des billets payés: @(Model.TicketsTotalValue.ToString("C", CultureInfo.CreateSpecificCulture("fr-FR")))</h4>

            <br />

            <h4>Valeur totale des billets: @(Model.TicketsPayedTotalValue.ToString("C", CultureInfo.CreateSpecificCulture("fr-FR")))</h4>

        </div>
        <!--
        <div class="col-md-6">


            <div id="ticketsByDate" style="margin: 0 auto"></div>


        </div> -->
    </div>

    <!--
    <div class="row">

        <div class="col-md-6">

            <h6>Mails sent history</h6>

            <br/>

        </div>


        <div class="col-md-6">

            <h6>Ticket scan history</h6>


        </div>

    </div>
    <br /> -->

    <div class="row">
        @Html.ActionLink("Back to event overview", "Details", new {id = Model.Event.Id}, new {@class = "btn btn-info btn-lg", @style = "margin:5px;"})
    </div>

</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script type="text/javascript">
        Highcharts.chart('ticketsGender',
            {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    backgroundColor: null
                },
                title: {
                    text: 'Tickets by Gender'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}% ({point.y})</b>'
                },
                exporting: {
                    enabled: false
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [
                    {
                        name: 'Tickets',
                        colorByPoint: true,
                        data: [
                            {
                                name: 'Male',
                                y: @(Model.TicketsGender.ContainsKey(Gender.Male) ? Model.TicketsGender[Gender.Male] : 0)
                            }, {
                                name: 'Female',
                                y: @(Model.TicketsGender.ContainsKey(Gender.Female) ? Model.TicketsGender[Gender.Female] : 0)
                            }, {
                                name: 'Diverse',
                                y: @(Model.TicketsGender.ContainsKey(Gender.Diverse) ? Model.TicketsGender[Gender.Diverse] : 0)
                            }
                        ]
                    }
                ]
            });

        Highcharts.chart('ticketsPayed',
            {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    backgroundColor: null
                },
                title: {
                    text: 'Tickets payed'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}% ({point.y})</b>'
                },
                exporting: {
                    enabled: false
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [
                    {
                        name: 'Tickets',
                        colorByPoint: true,
                        data: [
                            {
                                name: 'Payed',
                                y: @Model.TicketsPayedCount,

                                @if (Model.TicketsPayedCount > Math.Abs(Model.TicketsCount - Model.TicketsPayedCount))
                                {
                                    @:sliced: true,
                                    @:selected: true
                                }

                            }, {
                                name: 'Not Payed',
                                y: @Math.Abs(Model.TicketsCount - Model.TicketsPayedCount),

                                @if (Math.Abs(Model.TicketsCount - Model.TicketsPayedCount) > Model.TicketsPayedCount)
                                {
                                    @:sliced: true,
                                    @:selected: true
                                }

                            }
                        ]
                    }
                ]
            });
    </script>

    <script type="text/javascript">
        Highcharts.chart('ticketsPaymentMethod',
            {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    backgroundColor: null
                },
                title: {
                    text: 'Tickets by Payment Method'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}% ({point.y})</b>'
                },
                exporting: {
                    enabled: false
                },
                plotOptions: {
                    pie: {
                        colors: [
                            '#24CBE5',
                            '#64E572',
                            '#FF9655',
                            '#FFF263',
                            '#6AF9C4'
                        ],
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [
                    {
                        name: 'Tickets',
                        colorByPoint: true,
                        data: [
                            {
                                name: 'Paypal',
                                y: @(Model.TicketsPaymentMethod.ContainsKey(PaymentMethod.Paypal) ? Model.TicketsPaymentMethod[PaymentMethod.Paypal] : 0)
                            }, {
                                name: 'Cash',
                                y: @(Model.TicketsPaymentMethod.ContainsKey(PaymentMethod.Cash) ? Model.TicketsPaymentMethod[PaymentMethod.Cash] : 0)
                            }
                        ]
                    }
                ]
            });

        Highcharts.chart('ticketsCreator',
            {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    backgroundColor: null
                },
                title: {
                    text: 'Tickets creators'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}% ({point.y})</b>'
                },
                exporting: {
                    enabled: false
                },
                plotOptions: {
                    pie: {
                        colors: [
                            '#FFF263',
                            '#6AF9C4',
                            '#50B432',
                            '#ED561B',
                            '#DDDF00',
                            '#24CBE5',
                            '#64E572',
                            '#FF9655'
                        ],
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [
                    {
                        name: 'Tickets',
                        colorByPoint: true,
                        data: [
                            @foreach (var creator in Model.TicketsCreator)
                            {
                                @:{ name: '@creator.Key', y: @creator.Value },
                            }
                        ]
                    }
                ]
            });
    </script>

}